@{
  Layout = "_layout";
}
<h2 class="text-center pad-top">Orders</h2>
@if (@Model.Count > 0)
{
  <div class="card-columns">
  @foreach (var order in Model)
  {
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="http://source.unsplash.com/200x100/?@order.ProductName." alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">@order.ProductName</h3>
        <h5 class="card-title">Vender: @order.VenderName</h5>
        <p class="card-text">Quantity: @order.Quantity</p>
        <p>Deliver By : @order.DeliverBy</p>
        <a href="/vender/@order.VenderId/order/@order.Id/edit" class="btn btn-info">Edit</a>
        <a href="/vender/@order.VenderId/order/@order.Id/delete" class="btn btn-danger">Delete</a>
      </div>
    </div>
  }
  </div>
}
else 
{
  <div class="jumbotron bg-dark text-white">
    <h3 class="text-center"> No orders at this time </h3 class="text-center">
  </div>
}