@{
  Layout = "_layout";
}
<h2 class="text-center">@Model["Vender"].VenderName Current Orders</h2>
<div class="text-center">
  <a href='/vender/@Model["Vender"].Id/orders/new' class='btn btn-info'>Add Order</a>
</div>
<div class="card-columns">
  @foreach (var order in @Model["Orders"])
  {
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="http://source.unsplash.com/200x100/?@order.ProductName." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">@order.ProductName</h5>
        <p class="card-text">Quantity: @order.Quantity</p>
        <p>Deliver By : @order.DeliverBy</p>
        <a href="#" class="btn btn-info">Edit</a>
        <a href="#" class="btn btn-Danger">Delete</a>
      </div>
    </div>
  }


</div>